.center-content {
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 200%;
    height: 100vh; /* 100% chiều cao của viewport */
  }
  
  /* Thêm kiểu CSS tùy thuộc vào yêu cầu cụ thể của bạn */
  